.person
  margin-bottom: 70px
  padding: 70px 0
  &__img 
    margin-bottom: 30px
    img 
      width: 100%
  &__descr 
    p 
      text-align: justify
    a 
      display: inline-block
      margin: 0 auto
    a:hover 
      color: #171717
      text-decoration: none